.vs
projectfiles/visualstudio-2019/enc_temp_folder
projectfiles/visualstudio-2015/m68kmake.exe
projectfiles/visualstudio-2015/m68kmake.obj
projectfiles/visualstudio-2015/fba_vs2015.VC.db
projectfiles/visualstudio-2015/fba_vs2015.VC.VC.opendb
src/dep/generated
build/
*.db
*.opendb
src/intf/video/win32/detector_buffers.h
src/intf/video/win32/detector_loaders.h
UPDATE_GIT_IGNORE.BAT

projectfiles/visualstudio-2015/Release
projectfiles/visualstudio-2015/x64
projectfiles/visualstudio-2015/generated
projectfiles/visualstudio-2015/fcadefbneo
projectfiles/visualstudio-2015/.vs
projectfiles/cmake
cmake-*
.idea/
